
.searchContainer{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
}
.searchBar{
    margin: 10px;
    width: 60%;
    padding: 10px;
    /* flex-grow: 1;  */
}